$mobile: 400px;
$tablet: 800px;
$phoneLandscape: 844px;
$desktop: 1280px;
$small: 200px;
$phone: 400px;
$responsive: 320px;

/*change buttons to flex grid*/

html {
  background-color: gray;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 370px;
  background-color: #18191A;
  height: 575px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  @media only screen and (min-width: $responsive) {
    width: 300px;
    height: 490px;
    
      }
  @media only screen and (orientation: landscape) and (min-width: $phone) and (max-width: $phoneLandscape) {
    width: 280px;
    height: 360px;
      }
}
#calcKeys {
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#displayContainer {
  width: 310px;
  height: 100px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items:center;
  @media only screen and (min-width: $responsive) {
    width: 275px;
    height: 100px;}
    @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
      width: 250px;
      height: 70px;
        }
}
#display {
  height: 100px;
  width: 269px;
  background-color: #79834B;
  opacity: 1;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
  text-align: right;
  border-radius: 5px;
  -webkit-text-fill-color: black;
  @media only screen and (min-width: $responsive) {
    width: 269px;
    height: 100px;
    padding: 0;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 250px;
    height: 70px;
    font-size: 30px;
      }}
#row1 {
  display: flex;
  justify-content: center;
      }
#row2 {
  display: flex;
  justify-content: center;
}
#row3 {
  display: flex;
  justify-content: center;
}
#row4 {
  display: flex;
  justify-content: center;
      }
#row5 {
  display: flex;
  justify-content: center;
}
#zero {
  width: 156px;
  @media only screen and (min-width: $responsive) {
    width: 135px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 126px;
    height: 45px;
      }
      
}
#clear { 
  width: 237px;
  height: 75px;
  background-color: orange;
  &:hover {
    background: darken(orange,15%)
  }
  @media only screen and (min-width: $responsive){
    width: 207px;
    height: 65px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 192px;
    height: 45px;
      }
}
.buttons {
  margin: 3px;
  font-size: 40px;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: darken(whitesmoke,20%)
  }
  &:focus {
    background: darken(whitesmoke,30%);
  }
  @media only screen and (min-width: $responsive){
    width: 65px;
    height: 65px;
    font-size: 30px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 60px;
    height: 45px;
    font-size: 25px;
      }
 
}
.operators {
  background-color: gray;
   &:hover {
    background: darken(gray,15%)
  }
  &:focus {
    background: darken(gray,20%)
  }
}