html {
  background-color: gray;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calculator {
  width: 370px;
  background-color: #18191A;
  height: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

@media only screen and (max-width: 320px) {
  #calculator {
    width: 300px;
    height: 490px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  #calculator {
    width: 300px;
    height: 490px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 400px) and (max-width: 844px) {
  #calculator {
    width: 280px;
    height: 360px;
  }
}

#calcKeys {
  margin-bottom: 50px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#display {
  width: 310px;
  height: 100px;
  background-color: #79834B;
  font-size: 50px;
  margin-top: 25px;
  font-family: 'Orbitron', sans-serif;
  text-align: right;
  border-radius: 5px;
  color: #242526;
}

@media only screen and (max-width: 320px) {
  #display {
    width: 269px;
    margin-bottom: -11px;
    margin-top: 12px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  #display {
    width: 269px;
    margin-bottom: -11px;
    margin-top: 12px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #display {
    width: 250px;
    height: 70px;
    margin-bottom: -11px;
    margin-top: 12px;
  }
}

#zero {
  width: 156px;
}

@media only screen and (max-width: 320px) {
  #zero {
    width: 135px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  #zero {
    width: 135px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #zero {
    width: 126px;
    height: 45px;
  }
}

#clear {
  width: 237px;
  height: 75px;
  background-color: orange;
}

#clear:hover {
  background: #b37400;
}

@media only screen and (max-width: 320px) {
  #clear {
    width: 207px;
    height: 65px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  #clear {
    width: 207px;
    height: 65px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  #clear {
    width: 192px;
    height: 45px;
  }
}

.buttons {
  margin: 3px;
  font-size: 40px;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons:hover {
  background: #c2c2c2;
}

.buttons:focus {
  background: darkgray;
}

@media only screen and (max-width: 320px) {
  .buttons {
    width: 65px;
    height: 65px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
  .buttons {
    width: 65px;
    height: 65px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 844px) {
  .buttons {
    width: 60px;
    height: 45px;
  }
}

.operators {
  background-color: gray;
}

.operators:hover {
  background: #5a5a5a;
}

.operators:focus {
  background: #4d4d4d;
}
/*# sourceMappingURL=Calculator.css.map */