$small: 200px;
$phone: 400px;
$responsive: 320px;
$phoneLandscape: 844px;

html {
  background-color: gray;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 370px;
  background-color: #18191A;
  height: 575px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  @media only screen and (max-width: $responsive){
    width: 300px;
    height: 490px;
      }
  @media only screen and (min-width: $responsive) and (max-width: $phone){
    width: 300px;
    height: 490px;
      }
  @media only screen and (orientation: landscape) and (min-width: $phone) and (max-width: $phoneLandscape) {
    width: 280px;
    height: 360px;
      }
}
#calcKeys {
  margin-bottom: 50px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#display {
  width: 310px;
  height: 100px;
  background-color: #79834B;
  font-size: 50px;
  margin-top: 25px;
  font-family: 'Orbitron', sans-serif;
  text-align: right;
  border-radius: 5px;
  color: #242526;
  @media only screen and (max-width: $responsive){
    width: 269px;
    margin-bottom: -11px;
    margin-top: 12px;
      }
  @media only screen and (min-width: $responsive) and (max-width: $phone){
    width: 269px;
    margin-bottom: -11px;
    margin-top: 12px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 250px;
    height: 70px;
    margin-bottom: -11px;
    margin-top: 12px;
      }
}
#zero {
  width: 156px;
  @media only screen and (max-width: $responsive){
    width: 135px;
      }
  @media only screen and (min-width: $responsive) and (max-width: $phone){
    width: 135px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 126px;
    height: 45px;
      }
      
}
#clear { 
  width: 237px;
  height: 75px;
  background-color: orange;
  &:hover {
    background: darken(orange,15%)
  }
  @media only screen and (max-width: $responsive){
    width: 207px;
    height: 65px;
      }
  @media only screen and (min-width: $responsive) and (max-width: $phone){
    width: 207px;
    height: 65px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 192px;
    height: 45px;
      }
}
.buttons {
  margin: 3px;
  font-size: 40px;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: darken(whitesmoke,20%)
  }
  &:focus {
    background: darken(whitesmoke,30%);
  }
  @media only screen and (max-width: $responsive){
    width: 65px;
    height: 65px;
      }
  @media only screen and (min-width: $responsive) and (max-width: $phone){
    width: 65px;
    height: 65px;
      }
  @media only screen and (orientation: landscape) and (max-width: $phoneLandscape) {
    width: 60px;
    height: 45px;
      }
 
}
.operators {
  background-color: gray;
   &:hover {
    background: darken(gray,15%)
  }
  &:focus {
    background: darken(gray,20%)
  }
}